* {
    outline: 1px solid red !important;
    margin: auto;
}

html {
    margin: 150px 300px;
}


.header {
    background-color: #112943;
    color: white;
    text-align: center;
}

.header-text h1 {
    font-size: 50px;
    margin: 10px 0;
}

.header-text p {
    margin: 0px 50px;
    margin-bottom: 25px;
    font-size: 16px;
}

.accent {
    background-color: #1d3c5b;
    padding: 10px;
    font-size: 20px;
}

.strong {
    font-weight: bold;
}

.scale {
    font-style: italic;
}
